.account-settings-whole-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}



.profile-update-as {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pro-edit-top-as {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h6 {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #4B4DED;
        }

        a {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #07BF1A;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                padding-right: 10px;
            }
        }

    }

    .box-details-as {
        background: #F4F7FD;
border-radius: 6px;
padding: 23px 34px;
margin-top: 10px;
    }
}


.email-pass-pro-cont {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .change-email-as , .change-pass-as {
        width: 47%;


        .pro-edit-top-as {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            h6 {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #4B4DED;
            }
    
            a {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #07BF1A;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease-in;
                cursor: pointer;
    
                img {
                    padding-right: 10px;
                }
            }
    
        }

        .profile-update-as .pro-edit-top-as a:hover {
            color: #07bf198b;
        }


        .box-details-as {
            background: #F4F7FD;
    border-radius: 6px;
    padding: 23px 34px;
    margin-top: 10px;
        }

    }
}




// ACCOUNT  PROFILE UPDATE FOR  ADMIN

.profile-update-cont {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .prof-update-top {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin-bottom: 50px;

        p {
            margin-left: 20px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;

            color: rgba(0, 0, 0, 0.8);

        }
    }


    .profile-update-admin-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .top-pro-update {
            // margin: 40px 0;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .etp {
                width: 46%;

                p {
                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    /* identical to box height */


                    color: rgba(0, 0, 0, 0.8);

                }

                input {
                    background: #F4F7FD;
                    border-radius: 6px;
                    border: none;
                    padding: 15px 10px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    width: 100%;
                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #0609AC;
                }
            }
        }
    }

    .update-pua {


        margin-top: 80px;
        a {
            background: #1315BA;
            box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
            border-radius: 10px;
            padding: 17px 70px;
            margin-top: 20px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
            margin-top: 80px;
            text-decoration: none;
           }
    }
}