@import "../../../../../../../Mixins.scss";

.Content {
    margin: 30px 0;
    & .Heading {
        color: $body-text-color;
        font-weight: bold;
        // text-align: center;
    }

    & .Body {
        background-color: $subtle-bg-color;
        border-radius: 5px;
        padding: 10px;
    }

    & .Actions {
        margin: 30px 0 40px 0;

        & .Icon {
            margin-right: 5px;
            margin-bottom: 2px;
        }
    }
}

.CTable {
    // & thead {
    //     background-color: $subtle-bg-color;
    // }
    & td {
        font-weight: bold;
        font-size: 12px;
        color: $body-text-color;
        text-align: left;
    }
}