$primary-t-color: #1315ba;
$muted-t-color: rgba(157, 162, 176, 0.76);
$ws-font: "Work Sans", sans-serif;
$rb-font: "Roboto", sans-serif;
$black-c-text: rgba(0, 0, 0, 0.76);
$form-bg-color: #f4f7fd;

@import "../../../Mixins.scss";

.TopNavWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.TopNavCont {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-left: 300px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.25);
    padding: 10px;

    & .Heading {
        font-family: $ws-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
        color: $pri-color;
        margin: 0;
    }

    & .SearchBar {
        position: relative;

        & .Input {
            width: 300px;
        }

        & .HideCloseIcon {
            //only shows on small screen search
            display: none;
        }

        & button {
            display: flex;
            align-items: center;
        }
        & svg {
            font-weight: 900 !important;
            font-size: 16px !important;
        }
    }

    & .UserNotification {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;

        & .NotiIcon {
            position: relative;
            cursor: pointer;
            margin-right: 3px;
            & svg {
                color: grey;
            }
            & .Dot {
                position: absolute;
                top: 3px;
                right: 3px;
                background-color: red;
                border: solid 2px white;
                width: 10px;
                height: 10px;
                border-radius: 28px;
            }
        }
        & .Profile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            font-family: $work-sans;
            cursor: pointer;
            // & .img {
            //     margin-right: 10px;
            // }
            & svg {
                color: $pri-color;
                margin-right: 5px;
            }
            & .Details {
                display: block;
                max-width: 80%;
                & h6 {
                    font-size: 12px;
                    color: $pri-color;
                    font-weight: bolder;
                    margin: 0;
                    transform: translateY(7px);
                }
                & small {
                    font-size: 8px;
                    text-overflow: ellipsis;
                    // transform: translateY(7px);
                }
            }
        }
    }
}

@include md-downward {
    .TopNavCont {
        margin-left: 0;
        padding-left: 60px;
    }
}

@include sm-downward {
    .TopNavCont {
        padding-left: 45px;

        & .Heading {
            font-size: 20px;
        }

        & .SearchBar {
            & .Input {
                width: 200px;
            }
        }

        & .UserNotification {
            & .NotiIcon {
                margin-right: 10px;
            }
            & .Profile {
                & .Details {
                    max-width: 80%;
                }
            }
        }
    }
}

@include xs-only {
    .TopNavCont {
        & .Heading {
            font-size: 16px;
        }

        & .SearchBar.SmallScreenSearch {
            position: absolute;
            width: 100%;
            z-index: 102;
            background-color: white;
            padding-right: 7px;

            & .Input {
                width: 75%;
            }
            & .CloseIcon {
                color: $pri-color;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        & .SearchBar.SmallScreen {
            & input {
                width: 0;
                height: 0;
                padding: 0;
            }
            & .Input {
                width: 40px;
                & .ant-input-group-addon {
                    overflow: hidden;
                    border-radius: 28px;
                    border: solid $pri-color 1px !important;
                }
                & .ant-input-group-addon * {
                    background-color: white;
                    color: $pri-color;
                }
            }
        }
    }
}

@include xxs-only {
    .TopNavCont {
        & .Heading {
            font-size: 14px;
        }
        & .UserNotification {
            width: 100px;
            & .Profile {
                width: 40px;
                & svg {
                    margin-right: 0;
                }
                & .Details {
                    display: none;
                }
            }
        }
    }
}
