$primary-t-color: #1315ba;
$muted-t-color: rgba(157, 162, 176, 0.76);
$ws-font: "Work Sans", sans-serif;
$rb-font: "Roboto", sans-serif;
$black-c-text: rgba(0, 0, 0, 0.76);
$form-bg-color: #f4f7fd;

@import "../../../Mixins.scss";

.TopNavWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TopNavCont {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-left: 290px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.25);
    padding: 10px;

    & .Heading {
        font-family: $ws-font;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 1px;
        color: $pri-color;
        margin: 0;
    }
    & .Logo {
        width: 45px;
        height: 45px;
        position: relative;
        top: -5px;
    }
    & .SearchBar {
        position: relative;

        & .Input {
            width: 270px;
        }

        & .HideCloseIcon {
            //only shows on small screen search
            display: none;
        }

        & button {
            display: flex;
            align-items: center;
        }
        & svg {
            font-weight: 900 !important;
            font-size: 16px !important;
        }
    }

    & .UserNotification {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;

        & .NotiIcon {
            position: relative;
            cursor: pointer;
            margin-right: 3px;
            & svg {
                color: grey;
            }
            & .Dot {
                position: absolute;
                top: 3px;
                right: 3px;
                background-color: red;
                border: solid 2px white;
                width: 10px;
                height: 10px;
                border-radius: 28px;
            }
        }
        & .Profile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            font-family: $work-sans;
            cursor: pointer;
            // & .img {
            //     margin-right: 10px;
            // }
            & svg {
                color: $pri-color;
                margin-right: 5px;
            }
            & .Details {
                display: block;
                max-width: 80%;
                & h6 {
                    font-size: 12px;
                    color: $pri-color;
                    font-weight: bolder;
                    margin: 0;
                    text-overflow: ellipsis;
                    transform: translateY(7px);
                }
                & small {
                    font-size: 8px;
                    text-overflow: ellipsis;
                    // transform: translateY(7px);
                }
            }
        }
    }
}
.ant-popover-inner {
    padding: 0 !important;
}
.NavNotifPopoverContent {
    max-height: 350px;
    min-width: 300px;
    padding: 12px;
    background-color: $subtle-bg-color;
    z-index: 900;
    overflow: scroll;
    & .Header {
        background-color: $pri-color;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 5px 0;
    }
    & .Notifs {
        padding: 8px;
        background-color: $pri-color;
        color: $body-text-color;
        border-radius: 10px;
        & .Notif{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 0 7px;
            font-size: 14px;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 5px;
            font-weight: 300;
            cursor: pointer;
            // & p {
            //     margin-right: 5px;
            // }
        }
    }
}

.NavUserPopoverContent {
    height: 160px;
    width: 200px;
    padding: 0 10px 0px 10px;
    z-index: 900;

    & button {
        width: 100%;
        margin: 0 0 5px 0;
        padding: 5px 10px;
        border-radius: 4px;
        text-align: left;
        border: none;

        &:hover {
            background-color: $subtle-bg-color;
        }
        & span {
            color: $helper-text-color;
        }
    }
    & svg {
        margin-right: 5px;
        color: $helper-text-color;
    }
}

@include md-downward {
    .TopNavCont {
        margin-left: 0;
        padding-left: 50px;
    }
}

@include sm-downward {
    .TopNavCont {
        padding-left: 45px;

        & .Heading {
            font-size: 18px;
        }

        & .SearchBar.SmallScreenSearch {
            position: absolute;
            width: 100%;
            z-index: 102;
            background-color: white;
            padding-right: 7px;

            & .Input {
                width: 75%;
            }
            & .CloseIcon {
                color: $pri-color;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        & .SearchBar.SmallScreen {
            & input {
                width: 0;
                height: 0;
                padding: 0;
            }
            & .Input {
                width: 40px;
                & .ant-input-group-addon {
                    overflow: hidden;
                    border-radius: 28px;
                    border: solid $pri-color 1px !important;
                }
                & .ant-input-group-addon * {
                    height: 25px;
                    background-color: white;
                    color: $pri-color;
                }
            }
        }

        & .UserNotification {
            & .NotiIcon {
                margin-right: 10px;
            }
            & .Profile {
                & .Details {
                    max-width: 80%;
                }
            }
        }
    }
}

@include xs-only {
    .TopNavCont {
        & .Heading {
            font-size: 16px;
        }
        & .Logo {
            width: 40px;
            height: 40px;
        }
        & .UserNotification {
            width: 100px;
            & .Profile {
                width: 70px;
                & svg {
                    margin-right: 0;
                }
                & .Details {
                    display: none;
                }
            }
        }
    }
}

@include xxs-only {
    .TopNavCont {
        & .Heading {
            font-size: 14px;
        }
        // & .UserNotification {
        //     width: 100px;
        //     & .Profile {
        //         width: 40px;
        //         & svg {
        //             margin-right: 0;
        //         }
        //         & .Details {
        //             display: none;
        //         }
        //     }
        // }
    }
}
