$primary-t-color: #1315ba;
$muted-t-color: rgba(157, 162, 176, 0.76);
$ws-font: "Work Sans", sans-serif;
$rb-font: "Roboto", sans-serif;
$black-c-text: rgba(0, 0, 0, 0.76);
$form-bg-color: #f4f7fd;

// STAFF MODAL

.btn-cont-add-uploads {
  display: flex;
  width: 100%;
  justify-content: center;
  // border: 2px solid red;
  margin-top: 30px;
}
.add-upload-modal-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  p {
    font-family: $ws-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
  }

  input{
    width: 100%;
    border: none;
    background-color: $form-bg-color;
    padding: 7px 10px;
    border-radius: 6px;
    transition: 0.3s ease-in;
    font-family: $rb-font;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 2px;
    color: $primary-t-color;
    margin-top: 20px;
  }

  select, option {
    width: 100%;
    border: none;
    background-color: $form-bg-color;
    padding: 14px 10px;
    border-radius: 6px;
    transition: 0.3s ease-in;
    font-family: $rb-font;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 2px;
    color: $primary-t-color;
    margin-top: 20px;
  }

  .add-btn-upload {
    font-family: $ws-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    background: #07BF1A;
    box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    border-radius: 10px;
    color: #ffffff;
    padding: 13px 50px;
    // margin-top: 50px;
    cursor: pointer;
  }

    .add-btn-upload-load {
    font-family: $ws-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    background: #E1FFE4;
    box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    border-radius: 10px;
    color: #07BF1A;
    padding: 13px 50px;
    // margin-top: 50px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .cancel-btn-upload {
    font-family: $ws-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.8);
    padding: 13px 50px;
    margin-left: 20px;
    cursor: pointer;
  }
}
