// DESIGN SYSTEM
$primary-t-color: #1315ba;
$muted-t-color: rgba(157, 162, 176, 0.76);
$ws-font: "Work Sans", sans-serif;
$rb-font: "Roboto", sans-serif;
$black-c-text: rgba(0, 0, 0, 0.76);
$form-bg-color: #f4f7fd;
@import "../../Mixins.scss";

.SideNavCont {
    height: 100vh;
    width: 286px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $pri-color;
    transition: 0.3s ease-in;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;

    & .Icon {
        margin-right: 20px;
    }
}

.SideNavUpperCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SideNavLogo {
    margin-bottom: 30px;
}

.SideNavLinks {
    width: 100%;

    & .Link {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 50px;
        font-family: $ws-font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;

        &.active {
            background: rgba(255, 255, 255, 0.25);
        }
        &:not(.active):hover {
            background: rgba(255, 255, 255, 0.13);
        }
    }
}

.Logout {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
    cursor: pointer;
}

.SideNavBtn {
    display: none;
}

.InnerSideNavBtn {
    display: none;
}

@include md-downward {
    .SideNavBtn {
        display: block;
        position: fixed;
        left: 5px;
        top: 13px;
        opacity: 1;
        z-index: 1001;
        color: $pri-color;
        cursor: pointer;
        font-weight: bold;
    }

    .InnerSideNavBtn {
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 1;
        z-index: 1001;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }


    .SideNavCont.Hidden {
        transition: 0.3s ease-in;
        width: 0;
    }

    .sidenav-cont-cont {
        transition: 0.6s ease-in;
    }
}
