@import "../../../../../../Mixins.scss";


// DESIGN SYSTEM
$primary-t-color : #1315BA;
$muted-t-color: rgba(157, 162, 176, 0.76);
$ws-font: 'Work Sans', sans-serif ; 
$rb-font: 'Roboto', sans-serif;
$black-c-text :rgba(0, 0, 0, 0.76);
$form-bg-color:#F4F7FD;




.request-whole-cont {
    // border: 2px solid red;
    height: 100%;
    overflow: scroll;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2 1;
    flex-wrap: wrap;
}

.request-each {
    border: 1px solid rgba(24, 160, 251, 0.52);
    width: 287px;
    height: 341px;
    box-sizing: border-box;
    box-shadow: 0px 4px 22px rgba(244, 247, 253, 0.7);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: $shadow-3;



    h2,h1 {
        padding: 0;
        margin: 0;
    }


    .req1 {
        // border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
             line-height: 16px;
            color: $primary-t-color;
        }

        p {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
             line-height: 25px;
            color: rgba(0, 0, 0, 0.64);
        }

        img {
            position: absolute;
            top: -15px;
        }
    }

    .req2 {
        // border: 2px solid pink;
width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .req2-a, .req2-b {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h2 {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: rgba(0, 0, 0, 0.8);

            }

            p {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 25px;
                /* identical to box height, or 250% */


                color: rgba(0, 0, 0, 0.64);

            }
        }
    }

    .req3 {
        // border: 2px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        p {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 25px;
            /* identical to box height, or 250% */


            color: rgba(75, 77, 237, 0.5);
        }

        h2 {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;

            color: #4B4DED;
        }
    }

    .req4 {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .req4-a, .req4-b, .req4-c {
            h2 {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                 color: rgba(0, 0, 0, 0.8);

            }

            p {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.67);

            }
        }
    }

    .req5-btns {
        // border: 2px solid teal;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .accept-btn {
            background: #E1FFE4;
            border-radius: 10px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #07BF1A;
            // padding: 9px 28px;

        }

        .reject-btn {
            background: #FFE8EC;
            border-radius: 10px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #CA0124;
            // padding: 9px 28px;

        }
    }

}