@import "../../../../../Mixins.scss";

.Resumption {
    & .Heading {
        color: $body-text-color;
        margin-bottom: 20px;
    }
    & .DragAndDrop {
        height: 200px;
        width: 200px;
        border: solid $pri-color 1px;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 10px;
        & svg {
            color: $pri-color;
        }
        & .Text {
            color: $body-text-color;
            font-size: 16px;
        }
    } 
    & .UploadBtn {
        color: $pri-color;
        // border: $pri-color;


    }
}
