@import "../../../../../../../Mixins.scss";

.CreateCourse {
    & .Heading {
        color: $body-text-color;
    }
    & .SubHead {
        color: $helper-text-color;
        margin-bottom: 3px;
    }

    & .UploadBtn {
        margin: 20px 0 20px 0;
        & * {
            color: $pri-color;
            font-size: 14px;
            font-weight: bold;
        }
    }

    & .Actions {
        margin: 30px 0 40px 0;
    }
}
