.memo-tabs-whole {
    .ant-tabs-tab:nth-child(3) {
        float: right;
    }
}
    .add-std-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1315ba;
      box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
      border-radius: 10px;
      padding: 13px 22px;
      text-decoration: none;
      transition: 0.5s ease-in;

      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      img {
        margin-left: 10px;
      }
    }

    @media (max-width: 534px) {
  .onboard-btn {
    font-size: 12px !important;
    padding: 7px 10px !important;

    img {
      height: 10px;
      width: 10px;
    }
  }
}