@import "../../../../../Mixins.scss";

.MgtStudentsOverview {
  & .TopActions {
    height: 40px;
    margin-bottom: 5px;
    font-weight: 900;
    & h6 {
     color: $body-text-color;
     font-size: 18px;
    }
    & button {
     color: $pri-color;
     border-color: $pri-color;
     margin-right: 15px;
    }
    & svg {
      margin-right: 3px;
    }
  }
  
  & .StudentsTabsHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      color: $pri-color;
      margin-right: 5px;
    }
    & h6 {
      color: $helper-text-color;
      margin: 0;
      font-size: 14px;
    }
  }

  & .ant-tabs {
    width: 100% !important;
  }
 }

.StudentsImgAlt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 28px;
}

.StudentsTable {
  & td {
      font-weight: bold;
      font-size: 12px;
      color: $body-text-color;
      text-align: left;
  }
}
