@import "@/Mixins.scss";

.FinIncPage {
  & .TopActions {
    height: 40px;
    margin-bottom: 10px;

    & .IncSearch button {
      border-color: #d9d9d9;
      border-left: none;
    }

    & .BtnsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & button {
        margin-right: 15px;
      }
      & .FilterBtn {
        border-color: rgb(224, 224, 224);
        color: $pri-color;
      }
      & .PlusBtn {
        background-color: $pri-color;
        color: white;
      }
      & svg {
        margin-right: 3px;
      }
    }
  }
  
  & .FinIncTable {
    tr {
      font-size: 12px !important;
    }
    .PaymentStatus {
      text-align: center;
      font-weight: bold;
      & span {
        white-space: nowrap !important;
        position: relative;
        padding: 1px 6px 3px 12px;
        border-radius: 28px;

        &::before {
          content: "";
          position: absolute;
          left: 3px;
          top: calc(50% - 2px);
          border-radius: 50%;
          height: 5px;
          width: 5px;
          background-color: currentColor;
        }
      }      
    }
  }
}

.CreateExpenseOpts {
  & h6 {
    font-size: 13px;
  }
  & .ExtraOpts {
    width: 100%;
    margin-top: 20px;
  }
}

@include xs-only {
  .StaffTableCont {
    margin-top: 10px;
  }
  .FinIncPage {
    & .TopActions {
      height: 60px !important;

      & .IncSearch {
        margin-bottom: 10px;
      }

      & .BtnsWrapper {
        & button {
          color: $pri-color;
          border-color: $pri-color;
          margin-right: 15px;
        }
        & svg {
          margin-right: 3px;
        }
      }
    }
  }
}
