.add-new-staff-whole-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ans-cont {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;

  .top-ans {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    img {
      vertical-align: inherit;
      margin-right: 20px;
    }
  }
}

.ans-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;

  button {
    background: #1315ba;
    box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    border-radius: 10px;
    padding: 17px 70px;
    margin-top: 20px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border: none;
  }

  .next-phase {
    background: #1315ba;
    box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    border-radius: 10px;
    padding: 17px 70px;
    margin-top: 20px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .ans-left-right-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .ans-left,
    .ans-right {
      width: 47%;

      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
      }

      input,
      select,
      option,
      .each-feat-new {
        background: #f4f7fd;
        border-radius: 6px;
        border: none;
        padding: 15px 10px !important;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 90%;
        font-family: "Work Sans";
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #5e5e5e;
      }

      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }
    }
  }
}


.restyle2 {
  ::placeholder {
    font-family: "Work Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #c5c5c5;
  }
}

.restyle {
  ::placeholder {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #4b4ded;
    padding-left: 30px;
  }
}

// SECOND PHASE STYLING

.phase2-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p2-cont-sub1,
.p2-cont-sub2 {
  width: 45%;
}
.each-feat-new {
  background: #f4f7fd;
  border-radius: 6px;
  border: none;
  padding: 15px 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  width: 90%;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5e5e;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #1315ba;
  }
}

@media (max-width: 683px) {
  .ans-left-right-form,
  .phase2-cont {
    display: flex;
    flex-direction: column;

    .ans-left,
    .ans-right,
    .p2-cont-sub1,
    .p2-cont-sub2 {
      width: 100% !important;

      input, select {
        width: 100% !important;
      }

      
    }
  }

  .phase2-cont {
    display: flex;
    flex-direction: column;
    .p2-cont-sub1,
    .p2-cont-sub2 {
      width: 100% !important;


      .each-feat-new{
        width: 100%;
      input {
        width: 10% !important;
      }
      }

    }
  }
}
