@import "../../../../../Mixins.scss";

.finance-whole-cont {
  width: 95%;
  margin-left: 2.5%;
}

.StatsSummary_F {
  padding-top: 30px !important;
  margin-bottom: 20px;
  width: 100%;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    & .Icon {
      border-radius: 5px;
      padding: 7px 10px;
    }

    & .Text {
      margin-left: 10px;
      p {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
      }

      h5 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #f4780f;
      }
    }

    &.Summary1 {
      & .Icon {
        color: #f4780f;
        background-color: #f57a0f2c;
      }
      & .Text {  
        h5 {
          color: #f4780f;
        }
      }
    }
    &.Summary2 {
      & .Icon {
        color: #A38AE5;
        background-color: #A38AE52c;
      }
      & .Text {  
        h5 {
          color: #A38AE5;
        }
      }
    }
    &.Summary3 {
      & .Icon {
        color: #09A1CF;
        background-color: #09a1cf31;
      }
      & .Text {  
        h5 {
          color: #09A1CF;
        }
      }
    }
    &.Summary4 {
      & .Icon {
        color: #FC0646;
        background-color: #FC064631;
      }
      & .Text {  
        h5 {
          color: #FC0646;
        }
      }
    }
  }
}

.SectionSubHeading {
  color: $pri-color;

}

.transac-cont {
  margin-top: 30px;
  overflow-x: scroll;

  .top-transaction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;

    button {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      color: $pri-color;
      padding: 5px 10px;
      border: 1px solid $pri-color;
      background-color: transparent;
      box-sizing: border-box;
      box-shadow: 0px 4px 22px 3px rgba(194, 200, 208, 0.12);
    }
  }
}

.transaction-data {
  display: flex;
  flex-direction: column;
}
.you-must {
  display: flex;
  justify-content: space-between;

  th {
    background: none !important;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: left;
    letter-spacing: 1px;
  }
}

.td-transaction {
  display: flex;
  width: 100%;
  justify-content: space-between;

  tr {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: rgba(0, 0, 0, 0.8);
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }
}

.price-rate-minus {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fd4d7c !important;
}

.price-rate-plus {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f6913c !important;
}
