// THESE MIXINS BREAKPOINTS ARE BASED ON ANT DESIGN SYSTEM
@mixin xxs-only {
    @media only screen and (max-width: 360px) {
		@content;
	}
}
@mixin xs-only {
	@media only screen and (max-width: 575px) {
		@content;
	}
}
@mixin xs-upward {
	@media only screen and (min-width: 0) {
		@content;
	}
}
@mixin sm-only {
	@media only screen and (min-width: 576px) and (max-width: 767px) {
		@content;
	}
}
@mixin sm-upward {
	@media (min-width: 576px) {
		@content;
	}
}
@mixin sm-downward {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin md-only {
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		@content;
	}
}
@mixin md-upward {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin md-downward {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin lg-only {
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		@content;
	}
}
@mixin lg-upward {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin lg-downward {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin xl-only {
	@media only screen and (min-width: 1200px) and (max-width: 1599px) {
		@content;
	}
}
@mixin xl-upward {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin xl-downward {
	@media (max-width: 1599px) {
		@content;
	}
}
@mixin xxl-only {
	@media (min-width: 1600px) {
		@content;
	}
}


//Old Variables
$primary-t-color: #1315ba;
$muted-t-color: rgba(157, 162, 176, 0.76);
$work-sans: "Work Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$black-c-text: rgba(0, 0, 0, 0.76);
$form-bg-color: #f4f7fd;

//Variables
$pri-color: #4B4DED;
$sec-color: #ED4B9E;
$ter-color: #F3D9DA;
$subtle-bg-color: #ECF1F4;
$light-bg-color: #FAFCFE;
$dark-color: #0E0E2C;
$body-text-color: #4A4A68;
$helper-text-color: #8C8CA2;
$success-color: #31D0AA;