// THESE MIXINS BREAKPOINTS ARE BASED ON ANT DESIGN SYSTEM
@mixin xxs-only {
    @media only screen and (max-width: 360px) {
		@content;
	}
}
@mixin xs-only {
	@media only screen and (max-width: 575px) {
		@content;
	}
}
@mixin xs-upward {
	@media only screen and (min-width: 0) {
		@content;
	}
}
@mixin sm-only {
	@media only screen and (min-width: 576px) and (max-width: 767px) {
		@content;
	}
}
@mixin sm-upward {
	@media (min-width: 576px) {
		@content;
	}
}
@mixin sm-downward {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin md-only {
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		@content;
	}
}
@mixin md-upward {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin md-downward {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin lg-only {
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		@content;
	}
}
@mixin lg-upward {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin lg-downward {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin xl-only {
	@media only screen and (min-width: 1200px) and (max-width: 1599px) {
		@content;
	}
}
@mixin xl-upward {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin xl-downward {
	@media (max-width: 1599px) {
		@content;
	}
}
@mixin xxl-only {
	@media (min-width: 1600px) {
		@content;
	}
}


//Old Variables
// $primary-t-color: #1315ba;
// $muted-t-color: rgba(157, 162, 176, 0.76);
$work-sans: "Work Sans", sans-serif;
$roboto: "Roboto", sans-serif;
// $black-c-text: rgba(0, 0, 0, 0.76);
// $form-bg-color: #f4f7fd;

//Variables
/* This original primary color looks different on certain devices */
// $pri-color: #4B4DED;
// $pri-color-faded: rgba(75, 78, 237, 0.5);
/* Adjusted Primary Color */
$pri-color: #1677ff;
$pri-color-faded: rgba(22, 119, 255, 0.502);

$sec-color: #ED4B9E;
$ter-color: #F3D9DA;
$subtle-bg-color: #ECF1F4;
$light-bg-color: #FAFCFE;
$dark-color: #0E0E2C;
$body-text-color: #4A4A68;
$helper-text-color: #8C8CA2;
$success-color: #31D0AA;

// %pri-color-bg-hover {
// 	background-color: $pri-color;
// 	opacity: 0.75;
// }
// %pri-color-bg-active {
// 	background-color: $pri-color;
// 	opacity: 0.75;
// }

// Box-Shadows
$shadow-8 : 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

$shadow-7 : 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);

$shadow-6 : 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

$shadow-5 : 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

$shadow-4 : 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$shadow-3 : 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

$shadow-2 : 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$shadow-1 : 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$shadow-0 : 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
