.features-acc-whole-cont {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px ;
    margin-right: 40px;

    .student-feat-btn , .staff-feat-btn {
        background: #F4F7FD;
        border-radius: 10px;
        width: 40%;
        padding: 131px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        transition: 0.5s ease-in;
        cursor: pointer;
    }

    .student-feat-btn:hover, .staff-feat-btn:hover {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        transform: scale(1.1);
    }
}